@import "../../assets/styles/variables";

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3.3vw 6.1vw;

    &__logo {
        font-family: $FuturaPT;
        display: flex;
        align-items: center;

        img {
            width: 2.2vw;
            height: 2.2vw;
        }
    
        span {
            font-size: 1.1vw;
            font-weight: 500;
            color: $greyColor;
            margin-left: 1vw;
        }
    }

    &__nav {
        margin-left: 3.1vw;

        ul {
            display: flex;
            align-items: center;

            li {
                display: flex;
                
                &:not(:last-child) {
                    margin-right: 3.6vw;
                }

                a {
                    font-size: 1.1vw;
                    font-weight: 500;
                    color: $greyColor;
                    font-family: $FuturaPT;

                    &:hover {
                        color: $red;
                    }
                }
            }
        }
    }

    &__search {
        display: flex;
        align-items: center;
        margin: 0 3.2vw 0 7.5vw;
        width: 9vw;

        img {
            margin-right: 1.2vw;
            width: 0.9vw;
            height: 0.9vw;
        }

        input {
            width: 5.2vw;
            min-height: 2vw;
            border: none;
            outline: none;
            transition: all 0.25s;
            border-bottom: 0.1vw solid transparent;
            transform: translateY(0.1vw);
            font-size: 1.1vw;
            font-weight: 500;
            color: $greyColor;
            font-family: $FuturaPT;

            &:hover {
                border-bottom: 0.1vw solid $greyColor;
            }

            &::placeholder {
                font-size: 1.1vw;
                line-height: 0.9vw;
                font-weight: 500;
                color: $greyColor;
                font-family: $FuturaPT;
            }

            &:focus {
                width: 9vw;
            }
        }

        label {
            display: flex;
        }
    }

    &__loginBtn {
        font-size: 1.1vw;
        margin-left: 9.5vw;
        font-weight: 500;
        color: $greyColor;
        font-family: $FuturaPT;
        border: none;
        outline: none;
        background-color: transparent;
        cursor: pointer;

        &:hover {
            color: $red;
        }
    }
}

.sideBar {

    &__close {
        font-family: $FuturaPT;
        font-size: 1.1vw;
        font-weight: 500;
        color: #fff;
        border: none;
        outline: none;
        background-color: transparent;
        cursor: pointer;
        margin-bottom: 6vw;
        padding: 0;
    }
}