@import "../../../assets/styles/variables";
@import "../../../assets/styles/mixin";

.img {
    max-width: 63vw;
    width: 100%;
    height: auto;
    margin-bottom: 3vw;
}

.title {
    color: $black;
    font-family: $CoreSansG;
    margin-bottom: 2.2vw;
    font-size: 2.2vw;
}

.description {
    max-width: 63vw;
    margin-bottom: 2vw;
    color: $black;
    font-family: $FuturaPT;
    font-size: 1.2vw;
    line-height: 1.5vw;

}

.cost {
    color: $red;
    font-family: $CoreSansG;
    font-size: 1.5vw;
    margin-bottom: 1.85vw;
}

.bookBtnBlack {
    @include bookBtnBlack;
}