@import "../../assets/styles/variables";
@import "../../assets/styles/mixin";

.training {
    display: flex;
    margin: 0 0 2vw 21vw;

    &__leftSide {
        width: 31.5vw;

        img {
            width: 29vw;
            height: 31vw;
        }
    }

    &__rightSide {
        width: 60%;
    }

    &__title {
        font-family: $CoreSansG;
        display: flex;
        margin-top: 4vw;
        margin-bottom: 2.2vw;
        font-size: 3.4vw;
        font-weight: 500;
        color: $greyColor;

        img {
            width: 2.9vw;
            height: 3.4vw;
        }
    }

    &__description {
        font-family: $FuturaPT;
        font-size: 1vw;
        line-height: 1.2vw;
        color: #000000;
        max-width: 23vw;
        max-height: 11vw;
        overflow: hidden;
        margin-bottom: 3vw;
    }

    &__bookBtnRed {
        @include bookBtnRed;
    }

    &__bookBtnBlack {
        @include bookBtnBlack;
    }
}