.downloadApp {
    margin-top: 6.5vw;
    display: flex;
    align-items: center;
    height: fit-content;

    a {
        width: 12.7vw;
        height: 3.85vw;

        &:first-child {
            margin-right: 1.3vw;
        }
    }

    img {
        width: 100%;
    }
}