@import "../../assets/styles/variables";

.footer {
    display: flex;
    align-items: center;
    padding: 3.3vw 6.1vw;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    &__contact {
        font-size: 1vw;
        font-weight: 500;
        color: $greyColor;
        font-family: $FuturaPT;
        margin-right: 11.4vw;

        &:hover {
            color: $red;
        }
    }

    &__socialLinks {
        ul {
            display: flex;
            align-items: center;
            
            a {
                font-size: 1vw;
                font-weight: 500;
                color: $greyColor;
                font-family: $FuturaPT;

                &:hover {
                    color: $red;
                }

                &:not(:last-child) {
                    margin-right: 2.5vw;
                }
            }
        }
    }
}