@font-face {
    font-family: 'FuturaPT-Medium';
    font-style: normal;
    src: url('../assets/fonts/FuturaPT-Medium.eot'),
        url('../assets/fonts/FuturaPT-Medium.ttf'),
        url('../assets/fonts/FuturaPT-Medium.woff');
}