@mixin bookBtnRed {
    font-size: 1vw;
    width: 14vw;
    height: 4.2vw;
    border-radius: 0.3vw;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: $FuturaPT;
    background-color: $red;
    color: #fff;
    border: 0.1vw solid transparent;
    transition: all 0.25s;
    padding: 0;

    &:hover {
        background-color: transparent;
        border: 0.1vw solid $greyColor;
        color: $greyColor;
    }
}

@mixin bookBtnBlack {
    font-size: 1vw;
    width: 14vw;
    height: 4.2vw;
    border-radius: 0.3vw;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: $FuturaPT;
    background-color: transparent;
    color: $greyColor;
    border: 0.1vw solid $greyColor;
    transition: all 0.25s;
    padding: 0;

    &:hover {
        background-color: $red;
        border: 0.1vw solid transparent;
        color: #fff;
    }
}