@import "../../assets/styles/variables";
@import "../../assets/styles/mixin";

.title {
    font-family: $CoreSansG;
    display: flex;
    margin-top: 4vw;
    margin-bottom: 2.2vw;
    font-size: 3.4vw;
    font-weight: 500;
    color: $greyColor;
}

.bookBtnRed {
    @include bookBtnRed;
}